<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="jdbc:postgresql://localhost:5432/Honda">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.url">jdbc:postgresql:Honda</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.connection.password">admin</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
  <!-- Echo all executed SQL statements -->
  <property name="show_sql">true</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping resource="com/rahulauto/hibernate/entities/Part.hbm.xml"/>
  <mapping resource="com/rahulauto/hibernate/entities/Customer.hbm.xml"/>
  <mapping resource="com/rahulauto/hibernate/entities/Order.hbm.xml"/>
  <mapping resource="com/rahulauto/hibernate/entities/OrderDetail.hbm.xml"/>
  <mapping resource="com/rahulauto/hibernate/entities/User.hbm.xml"/>
  <mapping resource="com/rahulauto/hibernate/entities/Vehicle.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
